#cloud-config
hostname: ${hostname}

packages:
  - qemu-guest-agent
  - python

runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent

users:
  - default
  - name: ansible
    groups: wheel
    shell: /bin/bash
    ssh-authorized-keys:
      - ${ssh_key}
    sudo: ALL=(ALL) NOPASSWD:ALL

chpasswd:
  expire: false
  users:
    - name: ansible
      password: ${password}