%{ for role in distinct([for h in hosts : h.role]) ~}
[${ role }]
%{ for host in hosts ~}
%{ if host.role == role ~}
${host.name} ansible_host=${ip_network}.${host.ip_octet}
%{ endif ~}
%{ endfor ~}
%{ endfor ~}

[cluster:children]
%{ for role in distinct([for h in hosts : h.role]) ~}
${ role }
%{ endfor ~}