[master]
%{ for host in hosts ~}
%{ if host.master == true ~}
${host.name} ansible_host=${ip_network}.${host.ip_octet}
%{ endif ~}
%{ endfor ~}

[worker]
%{ for host in hosts ~}
%{ if host.master != true ~}
${host.name} ansible_host=${ip_network}.${host.ip_octet}
%{ endif ~}
%{ endfor ~}

[cluster:children]
master
worker